---
---

<section>
  <h3 class="section-title"><i class="fas fa-briefcase"></i> Experience</h3>
  <div class="experience">
    <h4 class="experience-title">Software Engineering Intern</h4>
    <span class="experience-company">Neontribe (Alexandra Rose Charity Project)</span>
    <span class="experience-date">Oct 2023: 1-week intensive internship</span>
    <ul>
      <li>Using <span class="highlight">Laravel and PHP</span>, successfully developed an admin dashboard for small businesses to process voucher redemptions and payments.</li>
      <li>Enhanced data security by adapting an existing encryption module to protect voucher transaction logs.</li>
      <li>Designed intuitive UI for business owners, prioritizing usability for non-technical users, leading to quicker adoption, and reducing support queries.</li>
    </ul>
    <a href="https://github.com/neontribe/ARCVService" class="project-link">View Project on GitHub</a>
  </div>
</section>