---
---

<header>
    <h1>Gabriel Lancaster-West</h1>
    <h2>Software Engineer | Second Year Student</h2>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <span>me@gabelw.net</span>
        </div>
        <div class="contact-item">
            <i class="fab fa-github"></i>
            <span>github.com/gxnda</span>
        </div>
        <div class="contact-item">
            <i class="fab fa-linkedin"></i>
            <span>linkedin.com/in/gabelw</span>
        </div>
    </div>
    <p class="intro">Second-Year Computer Science & Maths student with a focus
        on backend systems, experienced in Rust, Python, and distributed systems
        development.</p>
</header>